<header id="header">
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="search">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchString" name="search">
                        <div class="hint-wrapper" [ngClass]="{'hidden-xl-down': !searchString.length}">
                            <div class="search-hints" *ngIf="searchString.length">
                                <ul class="search-hints-list" *ngFor="let element of citiesOfCountry">
                                    <li class="search-hint" *ngIf="isContainPhrase(element, searchString)"> 
                                        <a href="#">{{element}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-sm clear-search"
                            [ngClass]="{'invisible': !searchString.length}" (click)="clearSearch()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-outline-primary">
                            Favorite
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="nav-item dropdown dropdown-countries">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="flag flag-{{currentCountry.country}}"></span>
                            <span class="country-name">{{currentCountry.localeName}}</span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div *ngFor="let country of allCountries; let position = index;">
                                <div class="dropdown-item" (click)="changeCountry(position)">
                                    <span class="flag flag-{{country.country}}"></span>
                                    <a  href="#">{{country.localeName}}</a>
                                </div>
                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Home</a>
                <a class="breadcrumb-item" href="#">Library</a>
                <a class="breadcrumb-item" href="#">Data</a>
                <span class="breadcrumb-item active">Bootstrap</span>
            </nav>
        </div>
    </div>
</header>