<header id="header">
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['']">Home<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="search">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" 
                         [(ngModel)]="searchString" name="search" (ngModelChange)="filterCities(searchString)" (blur)="clearSearch()">
                        
                        <div class="hint-wrapper" [ngClass]="{'invisible': !rememberedSearch.length&&!searchString}">
                            <div class="search-hints"> 
                                <ul class="search-hints-list" [ngClass]="{'invisible': !rememberedSearch.length}"
                                        *ngFor="let element of filteredCities">
                                    <li class="search-hint"  (click)="test(element)"> 
                                        {{element}}
                                    </li>
                                </ul>
                                <p *ngIf="searchString.length>=minLength &&!filteredCities.length" class="text-center">
                                    Results not found :(
                                </p>
                                <p *ngIf="searchString.length<minLength" class="text-center">
                                    min. symbols number - {{minLength}}
                                </p> 
                            </div> 
                           
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-sm clear-search"
                            [ngClass]="{'invisible': !searchString.length}" (click)="clearSearch()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="submit()">
                        Search
                    </button>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-outline-primary" [routerLink]="['favorites']">
                            Favorite
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="nav-item dropdown dropdown-countries">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class="flag flag-{{appService.currentCountry.country}}"></span> 
                             <span class="country-name">{{appService.currentCountry.localeName}}</span> 
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div *ngFor="let country of appService.allCountries; let position = index;">
                                <div class="dropdown-item" (click)="appService.changeCountry(position)" >
                                    <span class="flag flag-{{country.country}}"></span>
                                    <a routerLink=''>{{country.localeName}}</a>
                                </div>
                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <nav class="breadcrumb" *ngFor="let link of crumbsArray">
                <a class="breadcrumb-item"  [routerLink]="link['link']"
                    [ngClass]="{'active': link['active']==='true'}">
                    {{link['name']}}
                </a>
            </nav>
        </div>
    </div>
</header>