#header {
    .search {
        position: relative;
        top: 0;
        left: 0;
    }
    .clear-search {
        position: absolute;
        top: 6px;
        right: 14px;
    }
        
     .hint-wrapper, .search-hints {
        top: 0;
        left: 0;
    }
    .hint-wrapper {
        position: relative;
        margin-right: 8px;
    }
    .search-hints {
        position: absolute;
        background: white;
        width: 100%;
        z-index: 1;
        border-radius: 0 0 5px 5px;
        border: 1px solid #aaa;
        border-top: none;
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 120px;
    }
    .search-hints-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .search-hint {
        margin: 0 20px;
        padding: 3px 5px;
        border: none;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }
    .search-hint:hover {
        background: #eee;
        font-weight: 500;
    }
    .search-hint:last-of-type {
        border-bottom: none;
    }
    .dropdown-countries .dropdown-toggle{
        padding: 6px 8px;
    }
    @media screen and (min-width: 992px) and (max-width: 1100px){
        .dropdown-countries .country-name {
            display: inline-block;
            max-width: 110px;
            max-height: 24px;
            overflow:  hidden;
            word-break: break-all;
            vertical-align: bottom;
            padding-top: 0;
        }
    }
    
    .dropdown-countries .flag{
        margin-right: 5px;
    }
    .dropdown-countries .dropdown-menu .dropdown-item {
        padding: 0 15px;
    }
}
 