<!--component html goes here -->
 <footer id="footer" class="footer"> 
    <div class="container">
        <div class="clearfix">
            <span class="float-left"> Created by NikAzaza 2017 &copy; </span>
            <span class="float-right">Thanks Nestoria for API</span>
        </div>
        <div>
             <p class="panel text-center">
                <a href="www.vk.com/id222436862" class="btn btn-link btn-sm">VK</a>
                <a href="skype:Николай Бурак" class="btn btn-link btn-sm" >Skype</a>
                <a href="mailto:nikolyasha2205@gmail.com"  class="btn btn-link btn-sm">E-mail</a>
            </p>
        </div>
    </div>
</footer>