<main id="main" class="py-3">
    <div class="container">
        <div class="form-in main-panel">
            <div class="d-flex justify-content-center">
                <div class="search-panel panel mt-auto">
                    
                    <h1 class="search-title text-center">{{'app-title-begin' | translate}} {{appService.currentCountry['localeName']}} {{'app-title-end'| translate}}</h1> 
                    <p class="instuctional-text">{{'app-parahraph' | translate}}</p>

                    <div class="form-group">
                        <div class="search-wrapper">
                            <input type="text" class="form-control" placeholder="{{'app-search-hint'| translate}}{{appService.searchPlaceholder}}" 
                              aria-describedby="helpId" [(ngModel)]="searchString" (ngModelChange)="filterCities(searchString)" 
                               (keyup.enter)="submit(searchString)" name="search" (blur)="clearHints()">
                            
                            <div class="hint-wrapper" [ngClass]="{'invisible': !rememberedSearch.length&&!searchString}">
                                <div class="search-hints">
                                    <ul class="search-hints-list" *ngFor="let element of filteredCities">
                                        <li class="search-hint" (click)="submit(element)"> 
                                            <a  [routerLink]="[appService.currentCountry['country'],'filter', element]"
                                                [queryParams]="{place_name: element}">
                                                {{element}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="start-search">
                            <button class="btn btn-outline-primary" (click)="submit(rememberedSearch)" > 
                                {{'app-search-go' | translate}}
                            </button>
                        

                            <button type="button" class="btn btn-outline-primary"
                                routerLink="[appService.currentCountry['server'], 'filter']"
                                [ngClass]="{'disabled': !appService.getGeolocationAvailable()}" (click)="searchByLocation()" 
                                [disabled]="!appService.getGeolocationAvailable()" >
                                {{'app-search-my-location' | translate}}
                            </button>
                        </div>
                    </div>
                     

                    <div class="form-group clearfix"> 
                        <div class="change-history-wrapper">
                            <div class="change-history-list" [ngClass]="{'hidden-xl-down': !showHistory}">
                                <label for="checkbox">{{'app-search-my-locations'| translate}}</label>
                                <input type="checkbox" class="checkbox" id="checkbox" [(ngModel)]='showSearch'/>
                                <label for="checkbox">{{'app-search-recent-search'|translate}}</label>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary float-right mr-3" (click)="changeHistorySection()">
                            {{'app-show-history' | translate}}
                        </button>
                    </div>    
  
            
                    <div class="history-container" [ngClass]="{'hidden-xl-down': !showHistory}">
                         <!-- ========================================Recent search ============================== -->
                        <div class="panel recent-searches" [ngClass]="{'hidden-xl-down': !showSearch}">
                            <h2 class="text-center">{{'app-search-recent-search'|translate}}:</h2>
                            <div class="card">
                                <ul class="list-group list-group-flush" [ngClass]='{invisible: !searchHistory.length}' >
                                    <li class="list-group-item" *ngFor="let request of searchHistory.slice(-5).reverse(); let numInList = index;">
                                        <!-- <a [routerLink]="[appService.currentCountry['server'],'/filter']">{{request.value}}</a>  -->
                                        <a (click)="searchFromHisory(numInList)">
                                            {{request.value}} ( {{request.results}} )
                                        </a>

                                        <!-- remember list item position  -->
                                        <button class="btn btn-outline-danger btn-sm ml-auto" 
                                            (click)="currentDeleteIndex=numInList"
                                            data-toggle="modal" data-target="#ModalDeleteListItem">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    
                                    </li>
                                </ul>

                                <p [ngClass]="{'hidden-xl-down': searchHistory.length}" class="text-center"> 
                                    {{'app-empty-search-history'| translate}}
                                </p>
                                <p [ngClass]="{'hidden-xl-down': !serverNotRespond }" class="text-center"> 
                                    There was a problem with your search 
                                </p>
                            </div>
                        </div> <!-- End of Search History -->

                        <!--====================================== Last locations  =================================-->
                        <div class="panel recent-locations" [ngClass]="{'hidden-xl-down': showSearch}">
                            <h2 class="text-center">{{'app-search-my-location'| translate}}:</h2>
                            <div class="card">
                                <ul class="list-group list-group-flush" [ngClass]='{invisible: !locationHistory.length}' >
                                    <li class="list-group-item" *ngFor="let location of locationHistory.slice(-5).reverse(); let numInList = index;">
                                        <a  (click)="searchByHistoryLocation(numInList)">{{location.value}}</a> 

                                        <!-- remember list item position  -->
                                        <button class="btn btn-outline-danger btn-sm ml-auto" 
                                            (click)="currentDeleteIndex=numInList"
                                            data-toggle="modal" data-target="#ModalDeleteListItem">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    
                                    </li>
                                </ul>

                                <p [ngClass]="{'hidden-xl-down': locationHistory.length}" class="text-center"> 
                                    {{'app-empty-location-history'|translate}}
                                </p>
                            </div>
                        </div> <!-- End of last location-->
                    </div>   <!-- End of History-container -->
                </div> 
                    
                <!-- ================================ Modal (delete history item) ====================  -->
                <div class="modal fade" id="ModalDeleteListItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-dismiss="modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{'app-modal-title'|translate}} ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{'app-modal-paragraph'|translate}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                {{'app-modal-cancel'|translate}}
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deleteHistoryItem(currentDeleteIndex, showSearch)" data-dismiss="modal">
                                {{'app-modal-delete'|translate}} !
                            </button>
                        </div>
                        </div>
                    </div>
                </div> <!-- End of modal delete recent search-->
                
            </div>    
        </div> <!-- End of form-in-->

    </div><!-- end of container -->
</main>    
    