<main id="main">
    <div class="container">
        <div class="form-in">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="search-panel panel mt-auto">
                    
                    <h1 class="search-title text-center">The easiest way to find {{currentCountry['name']}} property</h1> 
                    <p class="instuctional-text">Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>

                    <div class="form-group">
                        <div class="search-wrapper">
                            <input type="text" class="form-control" placeholder="" name="search"
                              aria-describedby="helpId" [(ngModel)]="searchString" (keyup.enter)="submit()">
                            
                            <div class="hint-wrapper" [ngClass]="{'invisible': !searchString.length}">
                                <div class="search-hints">
                                    <ul class="search-hints-list" *ngFor="let element of citiesOfCounry">
                                        <li class="search-hint" *ngIf="isContainPhrase(element, searchString)"> 
                                            <a href="#">{{element}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="start-search">
                            <button class="btn btn-outline-primary" (click)="submit()">
                                Go
                            </button>

                            <button type="button" class="btn btn-outline-primary"
                                [ngClass]="{'disabled': !appService.getGeolocationAvailable()}" (click)="getCurrentCoordinates()" 
                                [disabled]="!appService.getGeolocationAvailable()">
                                My location
                            </button>
                        </div>
                    </div>
                     

                    <div class="form-group clearfix">
                        <button class="btn btn-outline-primary" (click)="changeHistorySection()">
                            Show/hide history
                        </button>

                        <div class="change-history-wrapper">
                            <div class="change-history-list" [ngClass]="{'hidden-xl-down': !showHistory}">
                                <label for="checkbox">My locations</label>
                                <input type="checkbox" class="checkbox" id="checkbox" [(ngModel)]='showSearch'/>
                                <label for="checkbox">Recent search</label>
                            </div>
                        </div>
                    </div>    
  
            
                    <div class="history-container" [ngClass]="{'hidden-xl-down': !showHistory}">
                         <!-- ========================================Recent search ============================== -->
                        <div class="panel recent-searches" [ngClass]="{'hidden-xl-down': !showSearch}">
                            <h2>Recent search:</h2>
                            <div class="card">
                                <ul class="list-group list-group-flush" [ngClass]='{invisible: !searchHistory.length}' >
                                    <li class="list-group-item" *ngFor="let request of searchHistory.slice(-5).reverse(); let numInList = index;">
                                        <a href=''>{{request.value}}</a> 

                                        <!-- remember list item position  -->
                                        <button class="btn btn-outline-danger btn-sm ml-auto" 
                                            (click)="currentDeleteIndex=numInList"
                                            data-toggle="modal" data-target="#ModalDeleteListItem">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    
                                    </li>
                                </ul>

                                <p [ngClass]="{'hidden-xl-down': searchHistory.length}" class="text-center"> 
                                    You don't have search history
                                </p>
                                <p [ngClass]="{'hidden-xl-down': !serverNotRespond }" class="text-center"> 
                                    There was a problem with your search 
                                </p>
                            </div>
                        </div> <!-- End of Search History -->

                        <!--====================================== Last locations  =================================-->
                        <div class="panel recent-locations" [ngClass]="{'hidden-xl-down': showSearch}">
                            <h2>Recent location:</h2>
                            <div class="card">
                                <ul class="list-group list-group-flush" [ngClass]='{invisible: !locationHistory.length}' >
                                    <li class="list-group-item" *ngFor="let location of locationHistory.slice(-5).reverse(); let numInList = index;">
                                        <a href=''>{{location.latitude}} , {{location.longitude}}</a> 

                                        <!-- remember list item position  -->
                                        <button class="btn btn-outline-danger btn-sm ml-auto" 
                                            (click)="currentDeleteIndex=numInList"
                                            data-toggle="modal" data-target="#ModalDeleteListItem">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    
                                    </li>
                                </ul>

                                <p [ngClass]="{'hidden-xl-down': locationHistory.length}" class="text-center"> 
                                    You don't have save location
                                </p>
                                <p [ngClass]="{'hidden-xl-down': !serverNotRespond }" class="text-center"> 
                                    There was a problem with your search 
                                </p>
                            </div>
                        </div> <!-- End of last location-->
                    </div>   <!-- End of History-container -->
                   
                    
                    <!-- ================================ Modal (delete history item) ====================  -->
                    <div class="modal fade" id="ModalDeleteListItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-dismiss="modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                You really want to delete this search result?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" (click)="deleteHistoryItem(currentDeleteIndex, showSearch)" data-dismiss="modal">
                                    Delete !
                                </button>
                            </div>
                            </div>
                        </div>
                    </div> <!-- End of modal delete recent search-->
                </div>
            </div>    
        </div> <!-- End of form-in-->

    </div><!-- end of container -->
</main>    
    