<!--component html goes here -->
<section id="filter">
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" 
                aria-expanded="false" aria-controls="collapseExample" (click)="hideFilterSection()">
            Settings
            </button>
        </p>
        
        <div class="row">
            <aside class="col-12 col-md-4 col-lg-3" style="border: 1px solid green;" [ngClass]="{'hidden-xl-down': !isVisibleFilters}">
                <div class="filter-container " >
                        <div class="form-group">
                            <p>Type</p>
                            <label for="isBuy">Buy</label>
                            <input type="checkbox" class="checkbox" id="isBuy" [(ngModel)]="filter.listing_type" (change)="filterChange()"/>
                            <label for="isBuy">Rent</label>
                        </div>

                        <div class="form-group">
                            <p>Cost</p>
                           
                            <ion-range-slider #sliderElement 
                                type="double"
                                min="0"
                                [max]="price_max"
                                [step]="price_step"
                                grid="true"
                                grid_num="10"
                                to_shadow="true"
                                decorate_both="true"
                                (onFinish)="priceChange($event)">
                            </ion-range-slider>
                            
                            <div class="clearfix">
                                <button class="btn btn-outline-success btn-sm" (click)="decreasePrice()">-</button>
                                <button class="btn btn-outline-success btn-sm float-right" (click)="increasePrice()">+</button>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="countryCode!=='uk'">
                            <p>Size, m2</p>
                           
                            <ion-range-slider #sizeSlider 
                                type="double"
                                min="0"
                                max="1000"
                                step="1"
                                grid="true"
                                grid_num="10"
                                to_shadow="true"
                                decorate_both="true"
                                (onFinish)="sizeChange($event)">
                            </ion-range-slider>
                            
                        </div>
                       
                        <div class="form-group">
                            <p>Property type</p>
                            <label for="pr_type_0" class="btn btn-outline-success btn-sm">all<input type="radio" id="pr_type_0" class="badgebox" [(ngModel)]="filter.property_type" value="" (change)="filterChange()" name="property_type" ><span class="badge">&#10004;</span></label> 
                            <label for="pr_type_1" class="btn btn-outline-success btn-sm">flat<input type="radio" id="pr_type_1" class="badgebox" [(ngModel)]="filter.property_type" value="flat" (change)="filterChange()" name="property_type"><span class="badge">&#10004;</span></label>  
                            <label for="pr_type_2" class="btn btn-outline-success btn-sm">house<input type="radio" id="pr_type_2" class="badgebox" [(ngModel)]="filter.property_type" value="house" (change)="filterChange()" name="property_type"><span class="badge">&#10004;</span></label>  
                        </div>

                        <div class="form-group">
                            <p>bedroom_min</p>
                            <label *ngIf="countryCode!=='de'&& countryCode!=='fr'&&countryCode!=='it'" for="bed_0" class="btn btn-outline-success btn-sm">studio<input type="checkbox" id="bed_0" class="badgebox" [(ngModel)]="filter.bedroom[0]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="bed_1" class="btn btn-outline-success btn-sm">1<input type="checkbox" id="bed_1" class="badgebox" [(ngModel)]="filter.bedroom[1]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="bed_2" class="btn btn-outline-success btn-sm">2<input type="checkbox" id="bed_2" class="badgebox" [(ngModel)]="filter.bedroom[2]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="bed_3" class="btn btn-outline-success btn-sm">3<input type="checkbox" id="bed_3" class="badgebox" [(ngModel)]="filter.bedroom[3]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="bed_4" class="btn btn-outline-success btn-sm">4+<input type="checkbox" id="bed_4" class="badgebox" [(ngModel)]="filter.bedroom[4]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                        
                        </div>
                        <div class="form-group" *ngIf="countryCode!=='uk'">
                            <p>room_min</p>
                            <label for="room_1" class="btn btn-outline-success btn-sm">1<input type="checkbox" id="room_1" class="badgebox" [(ngModel)]="filter.room[1]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="room_2" class="btn btn-outline-success btn-sm">2<input type="checkbox" id="room_2" class="badgebox" [(ngModel)]="filter.room[2]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="room_3" class="btn btn-outline-success btn-sm">3<input type="checkbox" id="room_3" class="badgebox" [(ngModel)]="filter.room[3]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="room_4" class="btn btn-outline-success btn-sm">4+<input type="checkbox" id="room_4" class="badgebox" [(ngModel)]="filter.room[4]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                       
                        </div>
                        <div class="form-group">
                             <p>bathroom_min</p>
                            <label for="bath_1" class="btn btn-outline-success btn-sm">1<input type="checkbox" id="bath_1" class="badgebox" [(ngModel)]="filter.bathroom[1]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="bath_2" class="btn btn-outline-success btn-sm">2<input type="checkbox" id="bath_2" class="badgebox" [(ngModel)]="filter.bathroom[2]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="bath_3" class="btn btn-outline-success btn-sm">3<input type="checkbox" id="bath_3" class="badgebox" [(ngModel)]="filter.bathroom[3]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                            <label for="bath_4" class="btn btn-outline-success btn-sm">4+<input type="checkbox" id="bath_4" class="badgebox" [(ngModel)]="filter.bathroom[4]" (change)="filterChange(true)"><span class="badge">&#10004;</span></label> 
                       
                        </div>
                        <div class="form-group">
                             <p>Required photo</p>
                            <label for="isWithPhoto">No</label>
                            <input type="checkbox" class="checkbox" id="isWithPhoto" [(ngModel)]="filter.has_photo" (change)="filterChange(true)"/>
                            <label for="isWithPhoto">Yes</label>
                        </div>
                        <div class="form-group">
                             <p>Results on page</p>
                            <label for="isTwenty">20</label>
                            <input type="checkbox" class="checkbox" id="isTwenty" [(ngModel)]="filter.number_of_results" (change)="filterChange(true)"/>
                            <label for="isTwenty">50</label>
                        </div>
                        
                        <div class="form-group">
                            <p>Sort</p>
                            <select class="dropdown" [(ngModel)]="filter.sort" (change)="filterChange(true)">
                                <option value="">sorting</option>
                                <option *ngFor="let sortType of sort" [value]="sortType.value">{{sortType.name|translate}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" (click)="clearFilter(true)">
                                clear filter
                            </button>
                        </div>
                </div>
            </aside> 

            <div class="col-12 col-md-8 col-lg-9" [ngClass]="{'col-md-12': !isVisibleFilters, 'col-lg-12':!isVisibleFilters}">
                <h4 class="text-center" *ngIf="products">find results: {{numOfResults}} </h4>
                <div class="row" [ngClass]="{'hidden-xl-down': serverNotRespond}">
                    <div class="col-12 text-center" *ngFor="let product of products; let position = index;"
                     [ngClass]="{'col-lg-6': !isVisibleFilters}">
                        <div class="card text-center">

                            <div class="favorite-label" *ngIf="isInFavorite(product['lister_url'])">
                               <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>
                            
                            <a href="{{product.lister_url}}" target="_blank">
                                <div class="card-block">
                                    <h4 class="card-title"> {{product.title}}</h4>
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="{{product.img_url}}" alt="{{product.title}}" width="100%">
                                        </div>
                                        <div class="col-7">
                                            <div class="badge badge-info">{{product.price_formatted}}</div>
                                            <div>Tags: {{product.keywords}}</div>
                                            <!-- <span class="hidden-sm-down">{{product.summary}}</span> -->
                                            
                                            <div class="hidden-xs-down" [ngClass]="{'hidden-md-down': isVisibleFilters}">
                                                <ul class="product-info">
                                                    <li><i class="fa fa-home" aria-hidden="true"></i> Type: {{product.property_type}}</li>
                                                    <li><i class="fa fa-bath" aria-hidden="true"></i> Baths: {{product.bathroom_number}}</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> Beds: {{product.bedroom_number}}</li>
                                                    <li *ngIf="countryCode!=='uk'"><i class="fa fa-cubes" aria-hidden="true"></i> Rooms: {{product.room_number}}</li>
                                                    <li><i class="fa fa-arrows" aria-hidden="true"></i> Size:  {{product.size}} {{product.size_unit}}</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <p class="card-text">
                                        {{product.summary}}
                                    </p>
                                </div>
                            </a>
                            <button class="btn btn-outline-success" (click)="addToFavorite(position)"
                                    *ngIf="!isInFavorite(product['lister_url'])">
                                        Add to favorite
                            </button>
                            <button class="btn btn-outline-success" (click)="deleteFromfavorite(position)"
                                     *ngIf="isInFavorite(product['lister_url'])">
                                        delete from favorite
                            </button>
                            
                            <div class="card-footer text-muted">
                                {{product.updated_in_days_formatted}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center" [ngClass]="{'hidden-xl-down': !serverNotRespond}">
                    <h2>Server not respond!</h2>
                </div>
            </div>
        </div>

       
        <div class="row justify-content-center">
            <nav aria-label="Page navigation example" *ngIf="numOfPages>1">
                <ul class="pagination justify-content-center" >
                    <li class="page-item">
                        <button class="page-link" [ngClass]="{'disabled': currentPage===1}" [disabled]="currentPage===1" (click)="setPage(currentPage-1)">Previous</button>
                    </li>

                    <li class="page-item" *ngIf="currentPage>2" (click)="setPage(1)"><a class="page-link" >1</a></li>
                    <li class="vertical-align-bottom" *ngIf="currentPage>3" style="padding: 15px 15px 0">...</li>

                    <li class="page-item" *ngIf="currentPage-1>0" (click)="setPage(currentPage-1)"><a class="page-link" >{{currentPage-1}}</a></li>
                    <li class="page-item active" (click)="setPage(currentPage)" disabled><a class="page-link" disabled>{{currentPage}}</a></li>
                    <li class="page-item" *ngIf="currentPage<numOfPages" (click)="setPage(currentPage+1)"> <a class="page-link" >{{currentPage+1}}</a></li>
                    
                    <li class="vertical-align-bottom" *ngIf="currentPage+2<numOfPages" style="padding: 15px 15px 0">...</li>
                    
                    <li class="page-item" *ngIf="currentPage+1<numOfPages"  (click)="setPage(numOfPages)"><a class="page-link" >{{numOfPages}}</a></li>
                    
                    <li class="page-item"> 
                        <button class="page-link"  (click)="setPage(currentPage+1)" 
                            [ngClass]="{'disabled':currentPage==numOfPages}" [disabled]="currentPage==numOfPages">
                            Next
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        
    </div>
</section>