<section id="favorite">
    <div class="container">
        <div >
            <h4>{{"favorite-title"|translate}}:</h4>
        </div>

        <div class="fav-wrapper ">
            <ul class="d-flex fav-list" >
                <div class="row">
                    <li class="col-12 col-md-6" *ngFor="let item of favorites; let number = index;">
                        <div class="card">
                            <div class="item-body"  (click)="setCurrentItem(favorites[number])"
                                data-toggle="modal" data-target="#exampleModal">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{{item.img_url}}" alt="{{item.title}}" width="100%">
                                    </div>

                                    <div class="col-6">
                                        <div class="text-left">{{item.price_formatted}}</div> 
                                        <div class="hidden-md-down mt-3">{{item.title}}</div>
                                    </div>
                                </div>
                            </div>
                    
                            <button type="button" class="btn btn-outline-danger btn-delete" (click)="saveDeleteNumber(number)" 
                                data-toggle="modal" data-target="#ModalDeletefavoriteItem">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <div >
            <button class="btn-outline-warning" (click)="clearFavorites()">{{"fav-clear"|translate}}</button>
        </div>

        <!-- Modal for item  -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-body">
                    <h4>{{currentItem.title}}</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <img src="{{currentItem.img_url}}" alt="{{currentItem.title}}" width="100%">
                            </div>
                            <div class="col-12 col-md-6 col-lg-8">
                                <ul>   
                                    <li> <i class="fa fa-tags" aria-hidden="true"></i> {{"item-tags"|translate}} : {{currentItem.keywords}}</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> {{"item-type"|translate}} : {{currentItem['property_type']}}</li>
                                    <li><i class="fa fa-bath" aria-hidden="true"></i>{{"item-baths"|translate}} : {{currentItem['bathroom_number']}}</li>
                                    <li><i class="fa fa-bed" aria-hidden="true"></i> {{"item-beds"|translate}} : {{currentItem['bedroom_number']}}</li>
                                    <li><i class="fa fa-cubes" aria-hidden="true"></i> {{"item-rooms"|translate}} : {{currentItem['room_number']}}</li>
                                    <li><i class="fa fa-arrows" aria-hidden="true"></i> {{"item-size"|translate}} :  {{currentItem['size']}} {{currentItem['size_unit']}}</li>
                                    <li><i class="fa fa-usd" aria-hidden="true"></i> {{"item-price"|translate}} : {{currentItem['price_formatted']}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "close"|translate}}</button>
                   <a href="{{currentItem.lister_url}}" target="_blank" class="btn btn-primary">{{ "favorite-go"|translate}}</a>
                </div>
                </div>
            </div>
        </div>

        <div class="mb-5"></div>

        <!-- Modal for delete item  -->
        <div class="modal fade" id="ModalDeletefavoriteItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-dismiss="modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{'app-modal-title'|translate}} ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{'app-modal-paragraph'|translate}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                {{'app-modal-cancel'|translate}}
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deleteFromFavorite(deleteItemNumber)" data-dismiss="modal">
                                {{'app-modal-delete'|translate}} !
                            </button>
                        </div>
                        </div>
                    </div>
                </div> <!-- End of modal delete recent search-->
    </div>
</section>